
   /* ==========================================================================
      Author's custom styles
      ========================================================================== */
      /* XL Device :1200px. */
@media (min-width: 1450px) and (max-width: 1600px) {

	

}

@media (min-width: 1200px) and (max-width: 1449px) {

	

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
	

}
 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.tript-trending .user-date{
		margin-left: 15px;
	}
  .tript-trending .comment{
      margin-right: 15px;
  }
}
 
/* Extra small Device. */
@media (max-width: 767px) {
	.tript-photos-about .trips-menu{
		display: none;
	}
	.single-check h4{
		color: #fff;
		font-size: 22px;
		text-transform: capitalize;
		font-weight: 500;
	}
	.trift-right-item{
		position: relative;
		padding-left: 130px;
		margin-bottom: 20px;
	}
	.trift-right-item:before{
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		height: 100%;
		width: 110px;
		background-color: rgb(228, 68, 68);
	
	
	}
	 .recent-articles .articles-single a{
		text-decoration: none;
		color: #000;
		font-size: 18px;
		font-weight: 600;
	}
	.recent-articles .articles-single h3 {
		line-height: 25px;
		margin-top: 10px;
	}
	.popular-articles .trips-right-item{
		padding-left: 120px;
		margin-bottom: 25px;
		position: relative;
	}
	.popular-articles .trips-right-item::before{
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		height: 110%;
		width: 110px;
		background-color: #ddd;
	}
	.footer-blog h3{
		
		font-size: 15px;

		
	}
	.footer-blog span{
	
		font-size: 12px;
	}
	
		
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.tript-trending .user-date{
		margin-left: 15px;
	}
  .tript-trending .comment{
      margin-right: 15px;
  }
	
}